:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%,
  100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {
  0%,
  100% {
    visibility: hidden;
  }
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Electricity {
  width: 100%;
  height: 100%;
}
#Electricity[state="off"] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

b787-10-hud-element {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Roboto-Bold;
  overflow: hidden;
  z-index: 0;
}
b787-10-hud-element #Electricity {
  width: 100%;
  height: 100%;
}
b787-10-hud-element #Electricity[state="off"] {
  display: none;
}
b787-10-hud-element #Electricity[state="on"] {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
b787-10-hud-element #MainFrame {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
b787-10-hud-element #MainFrame #HorizonContainer {
  transform: rotateX(0);
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
b787-10-hud-element #MainFrame #HorizonContainer #Horizon {
  position: absolute;
  top: 26%;
  width: 100%;
  height: 40%;
  border: none;
}
b787-10-hud-element #MainFrame #InstrumentsContainer {
  transform: rotateX(0);
  width: 100%;
  height: 100%;
  z-index: 0;
}
b787-10-hud-element #MainFrame #InstrumentsContainer #Altimeter {
  transform: rotateX(0);
  position: absolute;
  top: 2%;
  left: 68%;
  width: 22%;
  height: 100%;
}
b787-10-hud-element #MainFrame #InstrumentsContainer #Airspeed {
  transform: rotateX(0);
  position: absolute;
  top: 5%;
  left: 10%;
  width: 22%;
  height: 100%;
}
b787-10-hud-element #MainFrame #InstrumentsContainer #VSpeed {
  transform: rotateX(0);
  position: absolute;
  border: none;
  top: 12%;
  left: 84%;
  width: 25%;
  height: 100%;
  z-index: 0;
}
b787-10-hud-element #MainFrame #FMAContainer {
  transform: rotateX(0);
  position: absolute;
  border: none;
  width: 47%;
  height: 8%;
  top: 2%;
  left: 26%;
  z-index: 0;
}

b787-10-hud-element #Altimeter {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}

b787-10-hud-element #VSpeed {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}

b787-10-hud-element #Airspeed {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}

b787-10-hud-element #Horizon {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}

b787-10-hud-element #Column1 {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}

b787-10-hud-element #Column2 {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}

b787-10-hud-element #Column3 {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}

b787-10-hud-element #ILS {
  filter: sepia(100%) hue-rotate(55deg) saturate(2000%);
}
