:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  html body {
    -webkit-user-select: none;
    font-family: Roboto-Regular;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

b787-10-hud-element {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Roboto-Bold;
  overflow: hidden;
  z-index: 0; }
  b787-10-hud-element #Electricity {
    width: 100%;
    height: 100%; }
    b787-10-hud-element #Electricity[state=off] {
      display: none; }
  b787-10-hud-element #Electricity[state=on] {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
  b787-10-hud-element #MainFrame {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%; }
    b787-10-hud-element #MainFrame #MiddleContainer {
      transform: rotateX(0);
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
      overflow: hidden; }
      b787-10-hud-element #MainFrame #MiddleContainer #Horizon {
        position: absolute;
        top: 26%;
        width: 100%;
        height: 40%;
        border: none; }
      b787-10-hud-element #MainFrame #MiddleContainer #ILS {
        transform: rotateX(0);
        position: absolute;
        border: none;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 1; }
      b787-10-hud-element #MainFrame #MiddleContainer #Compass {
        transform: rotateX(0);
        position: absolute;
        top: 42%;
        left: 29%;
        width: 42%;
        height: 100%;
        z-index: 1; }
      b787-10-hud-element #MainFrame #MiddleContainer #FMA {
        transform: rotateX(0);
        position: absolute;
        border: none;
        width: 47%;
        height: 8%;
        top: 2%;
        left: 26%;
        z-index: 1; }
    b787-10-hud-element #MainFrame #SideContainer {
      transform: rotateX(0);
      width: 100%;
      height: 100%;
      z-index: 1; }
      b787-10-hud-element #MainFrame #SideContainer #Altimeter {
        transform: rotateX(0);
        position: absolute;
        top: 20%;
        left: 83%;
        width: 18%;
        height: 100%; }
      b787-10-hud-element #MainFrame #SideContainer #Airspeed {
        transform: rotateX(0);
        position: absolute;
        top: 22%;
        left: -3%;
        width: 18%;
        height: 100%; }

